body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  display: block;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h1 {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
  width: 224px;
  height: 50px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

header {
  background-color: #F6F6F6;
}

header .iconBar {
  width: 1140px;
  margin: 0 20px;
}

header .iconList {
  padding: 5px 0;
}

header .iconList img {
  width: 16px;
  height: 16px;
}

header .iconList a:hover {
  -webkit-filter: drop-shadow(0 0 0 gray);
          filter: drop-shadow(0 0 0 gray);
}

header .iconList .fbBtn {
  border-right: solid 1px #A9A9A9;
}

header .iconList .fbText {
  color: #4460A0;
}

header .iconList .twitterText {
  color: #00AAEC;
}

nav .navBar {
  width: 1140px;
  margin: 0 auto;
}

nav .menuBar > li > a {
  border-bottom: solid 5px transparent;
}

nav .menuBar > li > a:hover {
  border-bottom: solid 5px #00CC99;
}

nav .menuBar > li > a {
  color: #00CC99;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

nav .dropdown-open {
  display: none;
  padding: 0;
  text-align: center;
}

nav .dropdown-open li a {
  padding: 5px 10px;
  background: aliceblue;
}

nav .dropdown-open li a:hover {
  color: #00CC99;
  background: #edf3f7;
}

.bannerImg {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 78px 0;
}

.bannerImg .slogan {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.bannerImg .slogan h2 {
  font-weight: 300;
}

.swiper-container {
  width: 100%;
  height: 518px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide1 {
  background-image: url(https://imgur.com/dDq1cij.png);
}

.slide2 {
  background-image: url(https://imgur.com/SehGMEK.png);
}

.slide3 {
  background-image: url(https://i.imgur.com/ApuJz1H.png);
}

.contentBlock {
  padding: 60px 0;
}

.contentBlock .cardList {
  width: 100%;
  margin-bottom: 50px;
}

.contentBlock .card {
  width: 350px;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

.contentBlock .card div {
  color: #000;
}

.contentBlock .card li {
  list-style: disc;
}

.contentBlock .card .lessonTitle {
  font-size: 20px;
  font-weight: 400;
}

.contentBlock .card .lesson-subTitle, .contentBlock .card .content, .contentBlock .card .lessonText {
  font-weight: 300;
}

.contentBlock .card .content {
  width: 100%;
}

.contentBlock .card .lessonText {
  margin: 0;
}

.contentBlock .card .HTML-img {
  width: 121px;
  padding-bottom: 10px;
}

.contentBlock .card .RWD-img {
  width: 221px;
  padding: 30px 0;
}

.contentBlock .card .jQuery-img {
  width: 117px;
  padding-bottom: 20px;
}

.contentBlock .tableTitle {
  margin-bottom: 30px;
  text-align: center;
}

.contentBlock .lessonTable {
  font-weight: 400;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 50px;
}

.contentBlock .lessonTable .tableHead {
  font-weight: 500;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 6px;
  padding-left: 30px;
  background: #f7f7f7;
  color: #000;
}

.contentBlock .lessonTable .tbodyRow td {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  padding-left: 30px;
}

.contentBlock .greenText {
  color: #00a67d;
}

.formBlock {
  padding: 30px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00644b), to(#00a87e));
  background-image: linear-gradient(to bottom, #00644b, #00a87e);
  color: #fff;
}

.formBlock .formContent {
  width: 1140px;
  margin: 0 auto;
}

.formBlock .formTitle {
  font-weight: 400;
  text-align: center;
  margin: 30px 0;
}

.formBlock .textareaBlock {
  padding-bottom: 240px;
}

.formBlock .submitBtn {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.formBlock .submitBtn:hover {
  background-color: #00CC99;
}

footer {
  padding: 20px 0;
}

footer .info p {
  margin: 0;
}

.topBtn {
  display: block;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.topBtn:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
/*# sourceMappingURL=index.css.map */